{% extends "projects/_page.html" %}
{% load permissions %}
{% block title %}
{{ version.full_name }}
{% endblock %}
{% block page %}

    <div>
        <h2><span class="channel {{ version.channel.color_class }}" style="background-color: #{{ version.channel.hex }};"> {{ version.channel.name }}</span>{{version.name}}</h2>

        <p>{{version.description}}</p>
    </div>

    <div class="clearfix"></div>

    {% with files_qs=version.files.all|as_user:user %}
        {% if files_qs.count %}
            <h2>Files</h2>
            <ul class="list-group file-list-group">
                {% for file in files_qs %}
                    <li class="list-group-item file-list-group-item">
                        <a href="{% url 'versions-files-download' namespace=namespace.name project=proj.name version=version.name file=file.file_name file_extension=file.file_extension %}" class="file-listing">
                            <span class="file-listing-size">{{file.file_size|filesizeformat}}</span>
                            <span class="file-listing-name">{{file.file_name}}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}
