{% extends "projects/_page.html" %}
{% load permissions %}
{% block title %}
{{ version.full_name }}
{% endblock %}
{% block page %}

    <div>

        {% ifpermitted user "versions.edit" proj %}
            <a href="{% url 'versions-manage' proj.namespace.name proj.name version.name %}" class="btn btn-default btn-sm pull-right"
               data-toggle="tooltip" data-placement="bottom" title="Manage Version">
                <i class="fa fa-wrench"></i>
            </a>
        {% endifpermitted %}

        <h2><span class="channel {{ version.channel.color_class }}" style="background-color: #{{ version.channel.hex }};"> {{ version.channel.name }}</span>{{version.name}}</h2>

        <p>{{version.description_html|safe}}</p>
    </div>

    <div class="clearfix"></div>

    {% with files_qs=version.files.all|as_user:user %}
        {% if files_qs.count %}
            <h2>Files</h2>
            <ul class="list-group file-list-group">
                {% for file in files_qs %}
                    <li class="list-group-item file-list-group-item">
                        <a href="{% url 'versions-files-download' namespace=namespace.name project=proj.name version=version.name file=file.file_name file_extension=file.file_extension %}" class="file-listing">
                            <span class="file-listing-size">{{file.file_size|filesizeformat}}</span>
                            <span class="file-listing-name"><strong>{{file.file_name}}</strong>{{file.file_extension}}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}
