{% extends "projects/_page.html" %}
{% load permissions %}
{% block title %}
Versions | {{ proj.full_name }}
{% endblock %}
{% block page %}
    <div class="row">

        <div class="col-md-9">
            <ul class="list-group version-list-group">
                {% for version in proj.versions.all|as_user:user %}
                    <li class="list-group-item version-list-group-item">
                        <a href="{% url 'versions-detail' namespace=proj.namespace.name project=proj.name version=version.name %}"
                           class="version-listing">
                            <div class="dotblock">
                                <span class="version-listing-name"><span class="dot-container"><span class="dot" style="background-color: #{{ version.channel.hex }};" data-toggle="tooltip" data-placement="bottom" title="{{ version.channel.name }}"></span></span>{{version.name}}</span>
                                <span class="version-listing-tagline">{{version.description}}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            {% ifpermitted user "version.create" proj %}
                <a href="{% url 'versions-new' namespace=proj.namespace.name project=proj.name %}"
                   class="btn btn-block btn-primary btn-panel">
                    <i class="fa fa-plus"></i> Create Version
                </a>
            {% endifpermitted %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Channels</h3>
                </div>
                <ul class="list-group">
                    {% for channel in proj.channel_set.all %}
                    <li class="list-group-item">
                        <span class="dot" style="background-color: #{{ channel.hex }};"></span> {{ channel.name }}
                    </li>
                {% endfor %}

                    {% ifanypermitted user "channel.create,channel.edit,channel.delete" proj %}
                        <li class="list-group-item text-right">
                            <a href="{% url 'project-channels' namespace=proj.namespace.name project=proj.name %}">
                                <i class="fa fa-cog"></i> Edit
                            </a>

                        </li>
                    {% endifanypermitted %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
