{% extends "repo/projects/_page.html" %}
{% load permissions %}
{% load querysets %}
{% block title %}
{{ proj.namespace.name }}
{% endblock %}
{% block page_wrapper %}

<div class="container-fluid wrapper-960 light-background">
    <div class="row">
        <div class="col-md-2 center-card">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{% url 'repo-projects-detail' namespace=proj.namespace.name project=proj.name %}">Home</a></li>
                {% comment %} {% for page in home_page.children|all %}
                    {% include "repo/projects/pages/_nav.html" %}
                {% endfor %} {% endcomment %}
            </ul>
        </div>
        <div class="col-md-10">
            <div class="center-card">
                <h1 class="pull-left"> {{ home_page.title }}</h1>
                {% ifpermitted user "project.edit" proj %}
                <div class="btn-group pull-right page-edit">
                    <a class="btn btn-default">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                </div>
                {% endifpermitted %}
                <div class="clearfix"></div>
                {{ home_page.html|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
