{% load permissions %}
{% load projects %}
<h1 class="project-header pull-left">
    <a href="{% url 'core-namespace' namespace=proj.namespace.name %}" class="no-underline">{{proj.namespace.name}}</a>
    /
    <strong>
        <a href="{% url 'projects-detail' namespace=proj.namespace.name project=proj.name %}"
           class="no-underline">
            {{proj.name}}
        </a>
    </strong>
</h1>

<div class="navbar navbar-default project-navbar pull-left">
    <div class="navbar-inner">
        <ul class="nav navbar-nav">
        {% for tab in display_tabs %}
            <li class="{% if active_project_tab == tab %}active{% endif %}">
        {% if tab == 'docs' %}
                <a href="{% url "projects-detail" namespace=proj.namespace.name project=proj.name %}">
                <i class="fa fa-book"></i>
                Docs
                </a>
        {% elif tab == 'versions' %}
                <a href="{% url "versions-list" namespace=proj.namespace.name project=proj.name %}">
                <i class="fa fa-download"></i>
                Versions
                </a>
        {% elif tab == 'discuss' %}
                <a href="{% url "projects-discuss" namespace=proj.namespace.name project=proj.name %}">
                <i class="fa fa-users"></i>
                Discuss
                </a>
        {% else %}
                <a href="/">
                <i class="fa fa-exclamation-circle"></i>
                UNKNOWN TAB: {{ tab }}
                </a>
        {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="project-toolbar btn-toolbar pull-right">
    <div class="btn-group">
        <a class="btn btn-sm btn-default btn-shaded"
           data-toggle="tooltip" data-placement="bottom" title="Download latest version">
            <i class="fa fa-download"></i> Download
        </a>
        {% if user.is_authenticated %}
            <form action="{% url 'projects-star' namespace=proj.namespace.name project=proj.name%}"
                  method="post" class="btn-form">
                {% csrf_token %}
                <button class="btn btn-default btn-sm btn-round-right" type="submit"
                        data-toggle="tooltip" data-placement="bottom" title="Show support and stay updated">
                    <i class="fa fa-star{% if not proj.stargazers|contains_user:user %}-o{% endif %}"></i> {{ proj.stargazers.count }}
                </button>
            </form>
        {% else %}
            <button class="btn btn-default btn-sm btn-round-right" type="submit"
                    data-toggle="tooltip" data-placement="bottom" title="Show support and stay updated">
                <i class="fa fa-star-o"></i> {{ proj.stargazers.count }}
            </button>
        {% endif %}
    </div>
    <div class="btn-group">
        <a href="{% url 'projects-flag' namespace=proj.namespace.name project=proj.name %}"
           class="btn btn-default btn-sm"
           data-toggle="tooltip" data-placement="bottom" title="Flag for inappropriate content">
            <i class="fa fa-flag"></i> Flag
        </a>
        {% ifpermitted user "project.edit" proj %}
            <a href="{% url 'projects-manage' proj.namespace.name proj.name %}" class="btn btn-default btn-sm"
               data-toggle="tooltip" data-placement="bottom" title="Manage">
                <i class="fa fa-wrench"></i> Manage
            </a>
        {% endifpermitted %}
    </div>

</div>

