{% load permissions %}
<h1 class="project-header pull-left">
    <a href="{% url 'core-namespace' namespace=proj.namespace.name %}" class="no-underline">{{proj.namespace.name}}</a>
    /
    <strong>
        <a href="{% url 'projects-detail' namespace=proj.namespace.name project=proj.name %}"
           class="no-underline">
            {{proj.name}}
        </a>
    </strong>
</h1>

<div class="navbar navbar-default project-navbar pull-left">
    <div class="navbar-inner">
        <ul class="nav navbar-nav">
            <li class="{% if active_project_tab == 'docs' %}active{% endif %}">
                <a href="{% url "projects-detail" namespace=proj.namespace.name project=proj.name %}">
                <i class="fa fa-book"></i>
                Docs
                </a>
            </li>
            <li class="{% if active_project_tab == 'versions' %}active{% endif %}">
                <a href="{% url "versions-list" namespace=proj.namespace.name project=proj.name %}">
                <i class="fa fa-download"></i> Versions
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="project-toolbar btn-group pull-right">
    <a class="btn btn-sm btn-default btn-shaded"
       data-toggle="tooltip" data-placement="bottom" title="Download latest version">
        <i class="fa fa-download"></i>
    </a>
    <a class="btn btn-default btn-sm"
        data-toggle="tooltip" data-placement="bottom" title="Show support and stay updated">
        <i class="fa fa-star"></i> 0
    </a>
    {% ifpermitted user "project.edit" proj %}
    <a href="{% url 'projects-manage' proj.namespace.name proj.name %}" class="btn btn-default btn-sm"
       data-toggle="tooltip" data-placement="bottom" title="Manage">
        <i class="fa fa-wrench"></i>
    </a>
    {% endifpermitted %}
    <a href="{% url 'projects-flag' namespace=proj.namespace.name project=proj.name %}"
       class="btn btn-default btn-sm"
       data-toggle="tooltip" data-placement="bottom" title="Flag for inappropriate content">
        <i class="fa fa-flag"></i>
    </a>
</div>


