{% extends "layout.html" %}
{% block messages %}{% endblock %}
{% block content %}
    <div class="white-background project-header-container">
        <div class="container">
            {% include "_messages.html" %}
            {% include "projects/_header.html" %}
        </div>
    </div>

    {% block page_wrapper %}

        <div class="light-background">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12">
                        {% block page %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
{% block message_padding %}{% endblock %}
