{% extends "projects/_page.html" %}
{% load permissions %}
{% load querysets %}
{% block title %}
{{ proj.full_name }}
{% endblock %}
{% block page_wrapper %}

<div class="container light-background">
    <div class="row">
        <div class="col-md-12">
            <div class="center-card">
                <h1 class="pull-left"> {{ home_page.title }}</h1>
                {% ifpermitted user "project.edit" proj %}
                <div class="btn-group pull-right page-edit">
                    <a class="btn btn-default" href="{% url 'projects-pages-edit' namespace=proj.namespace.name project=proj.name page=home_page.slug %}">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                </div>
                {% endifpermitted %}
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-9">
                        {{ home_page.html|safe }}
                    </div>
                    <div class="col-md-3">
                        {% if listed_pages %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Listed Pages</h3>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        {% for listed in listed_pages %}
                                        <li>
                                            <a href="{{ listed.get_absolute_url }}">
                                                {{ listed.title }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container light-background">
    <div class="row">
        <div class="col-md-12">
            <div class="center-card">
                <div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://forums.spongepowered.org/',
                     topicId: 10736 };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
