{% load staticfiles %}
<div class="navbar navbar-fixed-top navbar-inverse top-navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'core-index' %}" class="logo-container navbar-brand">
                  <img src="{% static 'ore/img/spongie.png' %}" alt="Sponge logo" class="mini-logo">
                  Ore
                </a>
            <ul class="nav navbar-nav navbar-always-nav"><li><a href="{% url 'core-explore' %}">
                <i class="fa fa-globe"></i>
            </a></li></ul>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-top">
                <div class="navbar-form navbar-left navbar-search">
                    <div class="form-group">
                        <input type="text" class="input-large form-control" placeholder="Search"/>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
{#                        <li><a><!--class="notify"-->#}
{#                            <i class="fa fa-bell"></i>#}
{#                        </a></li>#}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-plus"></i><span class="hidden-md hidden-lg hidden-sm"> Create <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'projects-new' %}">
                                        <span class="pull-right text-muted">
                                            <i class="fa fa-book"></i>
                                        </span>
                                        New project
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'organizations-new' %}">
                                        <span class="pull-right text-muted">
                                            <i class="fa fa-users"></i>
                                        </span>
                                        New org
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="usr-avatar dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ user.avatar }}&amp;s=24"/> <span class="hidden-md hidden-lg">{{ user.name }} </span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'core-namespace' namespace=user.name %}">
                                        <span class="pull-right text-muted">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="hidden-sm hidden-xs">{{ user.name }}</span><span class="hidden-md hidden-lg">Profile</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{% url 'accounts-settings-profile' namespace=user.name %}">
                                    <span class="pull-right text-muted">
                                        <i class="fa fa-cog"></i>
                                    </span>
                                    Settings
                                </a></li>
                                {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">
                                    <span class="pull-right text-muted">
                                        <i class="fa fa-bomb"></i>
                                    </span>
                                    Admin
                                </a></li>
                                {% endif %}
                                <li><a class="logout-a">
                                    <form action="{% url 'accounts-logout' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="nav-btn logout-link">
                                            <span class="pull-right text-muted">
                                                <i class="fa fa-sign-out"></i>
                                            </span>
                                            Sign out
                                        </button>
                                    </form>
                                </a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'accounts-register' %}">
                            <i class="fa fa-user"></i> Create account
                        </a></li>
                        <li><a href="{% url 'accounts-login' %}">
                            <i class="fa fa-sign-in"></i> Sign in
                        </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
