{% extends "layout.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
Flagging 
{% endblock %}
{% block content %}
<div class="container-fluid wrapper-960">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Flagging Content: Project {{ content_text }}</h3>
                </div>
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
