{% extends "accounts/settings/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Profile Settings
{% endblock %}
{% block page %}
{% if not using_sso %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Profile Settings</h3>
    </div>
    <div class="panel-body">
    	{% crispy profile_form %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Change Password</h3>
    </div>
    <div class="panel-body">
    	{% crispy password_form %}
    </div>
</div>
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Profile Settings</h3>
    </div>
    <div class="panel-body">
        To change your profile settings, please go to <a href="https://forums.spongepowered.org/users/{{ user.name }}/preferences">the forums profile settings page</a>.
    </div>
</div>
{% endif %}
{% endblock %}