{% extends "../layout.html" %}
{% block title %}
Create Project
{% end %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Create new project</h1>
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade in">
                {% for error in errors %}
                    {{ error }}
                {% end %}
            </div>
            {% end %}
            <form action="/projects/new" method="post">
                {% module xsrf_form_html() %}
                <div class="form-group">
                    <label>Project name</label>
                    <input type="name" name="name" class="form-control">

                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input type="description" name="description" class="form-control">
                </div>

                <button class="btn btn-default" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
{% end %}
