{% extends "layout.html" %}
{% load staticfiles %}
{% block title_full %}Ore: the Minecraft Package Repository{% endblock %}

{% block all %}


    {% include "navbar.html" %}
    {% block navbarfixed %}{% endblock %}

    <div class="not-in-flow">
        <div class="navbar-pad not-in-flow-child">

            {% block messages %}
                {% include "_messages.html" %}
            {% endblock %}
        </div>
    </div>

    <header class="hero">
        <div class="logo-text">
            <strong>Ore</strong>
            <div class="smaller">
                the minecraft package repository
            </div>
        </div>
    </header>

{% endblock %}
{% block scripts %}
<script src="{% static "ore/js/app.js" %}"></script>
{% endblock %}
