{% extends "layout.html" %}
{% load staticfiles %}
{% block title %}
  Ore
{% endblock %}

{% block all %}


    {% include "navbar.html" %}
    {% block navbarfixed %}{% endblock %}

    <header class="hero">
        <div class="logo-text">
            <strong>Ore</strong>
            <div class="smaller">
                the minecraft package repository
            </div>
        </div>
    </header>

{% endblock %}
{% block scripts %}
<script src="{% static "js/app.js" %}"></script>
{% endblock %}
