{% extends "layout.html" %}
{% block title_full %}Ore: the Minecraft Package Repository{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <a href="{% url 'core-namespace' namespace=user.name %}" class="btn btn-default">
                    <i class="fa fa-user"></i> Go to user page
                </a>
                <a href="{% url 'projects-new' %}" class="btn btn-default">
                    <i class="fa fa-plus"></i> Create project
                </a>
            </div>
            <div class="home-userbox">
                <img class="usr-avatar" src="{{ user.avatar }}&amp;size=32">
                {{ user.name }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
