{% extends "layout.html" %}
{% block title %}
{{ user.name }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row pad-top">
        <div class="col-md-3 user-box">
            <div class="well">
                <h1>{{ user.name }}</h1>
                <img src="{{ user.avatar }}" class="avatar user-avatar">
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="user-projects-header">Projects</h1>
            {% include "repo/_projects_list.html" with namespace=user projects=user.projects.all only %}
        </div>
    </div>
</div>
{% endblock %}
