{% extends "layout.html" %}
{% block title %}
Settings
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
        	{% block page %}{% endblock %}
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Settings</h3>
                </div>
                <div class="list-group">
                    <a href="{% url "accounts-settings-profile" user_slug=user.name %}" class="list-group-item {% if active_settings == "profile" %}active{% endif %}">
                        Profile<span class="pull-right"><i class="fa fa-user"></i></span>
                    </a>
                </div>
            </div>

            {% if user.owned_organizations|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Organization Settings</h3>
                </div>
                <div class="list-group">
                    {% for org in user.owned_organizations %}
                    <a href="{% url "organizations-settings" organization_slug=org.name %}" class="list-group-item {% if active_settings == org.name %}active{% endif %}">
                        <div class="pull-right avatar-pull-right">{% include "core/avatar.html" with avatar=org.avatar type="org" alt=org.name only %}</div> {{ org.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
