{% extends "layout.html" %}
{% load permissions %}
{% block title %}
{{ organization.name }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 user-box">
            <div class="well">
                {% include "core/avatar.html" with avatar=organization.avatar type="org" alt=organization.name only %}
                <h3>{{ organization.name }}</h3>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Projects</h3>
                </div>
                {% include "projects/_projects_list.html" with namespace=organization projects=organization.projects.all|as_user:user only %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
