<div class="sp-navbar {% block navbarfixed %}fixed{% end %}">
    <div class="sp-navbar-inner cf">
        <img src="/static/img/sponge-logo.png" alt="Sponge logo" class="mini-logo">
        <a href="https://spongepowered.org" class="active">Home</a>
        <a href="#">Forums</a>
        <a href="#">Docs</a>
        <a href="/">Ore</a>
        <div class="nav-right">
            <a class="dropdown-menu">
                <i class="fa fa-search"></i>
                <div class="dropdown">
                    dropdown one
                </div>
            </a>
            <a class="notify dropdown-menu">
                <i class="fa fa-bell"></i> 3
                <div class="dropdown">
                    dropdown two
                </div>
            </a>
            <a class="dropdown-menu">
                gratimax
                <div class="dropdown">
                    dropdown three
                </div>
            </a>
            <a><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</div>
