<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <img src="/static/img/sponge-logo.png" alt="Sponge logo" class="mini-logo">

                    <ul class="nav navbar-nav">
                        <li><a href="https://spongepowered.org">Home</a></li>
                        <li><a href="#">Forums</a></li>
                        <li><a href="#">Docs</a></li>
                        <li class="active"><a href="/">Ore</a></li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li><a>
                                <i class="fa fa-search"></i>
                        </a></li>
                        <li><a class="notify">
                            <i class="fa fa-bell"></i> 3
                        </a></li>
                        <li><a>
                            gratimax
                        </a></li>
                        <li><a href="/sessions/logout">
                            <i class="fa fa-sign-out"></i>
                        </a></li>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
