<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="wrapper-960">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <img src="/static/img/sponge-logo.png" alt="Sponge logo" class="mini-logo">

                        <ul class="nav navbar-nav">
                            <li><a href="/">Ore</a></li>
                            <li><a href="/projects/">Explore</a></li>
                        </ul>


                        <ul class="nav navbar-nav navbar-right">
                            <li><a>
                                <i class="fa fa-search"></i>
                            </a></li>
                            {% if user.is_authenticated %}
                                <li><a><!--class="notify"-->
                                    <i class="fa fa-bell"></i> 0
                                </a></li>
                                <li><a href="/{{ user.name }}/">
                                    {{ user.name }}
                                </a></li>
                                <li><a class="logout-a">
                                    <form action="/accounts/logout/" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="nav-btn logout-btn">
                                            <i class="fa fa-sign-out"></i> Logout
                                        </button>
                                    </form>
                                </a></li>
                            {% else %}
                                <li><a href="/accounts/new/">
                                    <i class="fa fa-user"></i> Create account
                                </a></li>
                                <li><a href="/accounts/login/">
                                    <i class="fa fa-sign-in"></i> Login
                                </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
