body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #fff;
  font-size: 16px;
  height: auto;
}

.hero {
  background-color: #262c35;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 150px;
  padding-bottom: 150px;
}

.hero.sp-navbar-fixed {
  padding-bottom: 206px;
}

.navbar-space {
  margin-top: 56px;
}

.logo {
  position: relative;
  opacity: 0.6;
  top: -18px;
  height: 180px;
  width: 180px;
}

.logo-text {
  font-size: 48px;
  color: #fcf3d6;
  opacity: 0;
}

.smaller {
  font-size: 28px;
}

.logo-text strong {
  color: #f9ab00;
}

.navbar {
  background-color: #304054;
  border-bottom: none;
  font-size: 16px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar .col-md-12 {
  white-space-collapse: discard;
  height: 56px;
}

.navbar .navbar-nav>li>a {
  padding: 18px 15px !important;
  color: #ddd;
  float: left;
  cursor: pointer;
}

.navbar a:hover {
  background-color: #344c67 !important;
}

.navbar li.active a {
  background-color: #2c3d4b !important;
}

.navbar li.active a:hover {
  background-color: #344c67 !important;
}

.navbar a:visited {
  color: #ddd;
}

.sp-dropdown-menu {
  position: relative;
}

.sp-dropdown-menu.dropped {
  background-color: #344c67 !important;
}

.sp-dropdown {
  background: #fff;
  color: #333;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #aaa;
  border-top: none;
  display: none;
}

.mini-logo {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar .notify {
  color: #fbc400 !important;
}

a {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}
