{% load permissions %}
<div class="btn-group pull-right proj-toolbar">
    <a href="{% url "repo-versions-flag" namespace=namespace.name project=project.name version=version.name %}" class="btn btn-default">
        <i class="fa fa-flag"></i>
    </a>
    {% ifpermitted user "version.edit" project %}
        <a href="{% url "repo-versions-manage" namespace=namespace.name project=project.name version=version.name %}" class="btn btn-default">
            <i class="fa fa-wrench"></i>
        </a>
    {% endifpermitted %}
</div>
