{% extends "repo/projects/_page.html" %}
{% block title %}
{{ version.full_name }}
{% endblock %}
{% block page %}

    <h2>
        <strong>
            {{version.name}}
        </strong>
    </h2>


    <p class="pull-left">{{version.description}}</p>

    <div class="clearfix"></div>

    {% if version.files.all %}
        <h2>Files</h2>
        <ul class="list-group file-list-group">
            {% for file in version.files.all %}
                <li class="list-group-item file-list-group-item">
                    <a href="{% url 'repo-files-download' namespace=namespace.name project=proj.name version=version.name file=file.name file_extension=file.file_extension %}" class="file-listing">
                        <span class="file-listing-size">{{file.file_size|filesizeformat}}</span>
                        <span class="file-listing-name">{{file.name}}</span>
                        <span class="file-listing-tagline">{{file.description}}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
