{% extends "repo/projects/_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Upload New Version
{% endblock %}
{% block page %}
<h1>Create new version</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        {% crispy form %}

        {% crispy multi_form %}
    </div>

    <input type="submit" id="final-submit" class="btn btn-primary" value="Create">
</form>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/file_upload.js' %}"></script>
{% endblock %}
