{% extends "repo/projects/_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Upload New Version
{% endblock %}
{% block page %}
<h1>Create new version</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        {% crispy form %}

        <button class="btn btn-success" id="file-form-addBtn">+</button>

        {% crispy multi_form %}
    </div>

    <input type="submit" class="btn btn-primary" value="Create">
</form>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/multiform.js' %}"></script>
<script>
$(function() {
    setupFormset($('#div_id_file0-name').parent('fieldset'), 'file', $('#file-form-addBtn'));
});
</script>
{% endblock %}
