body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #eee;
  height: auto;
}

.white-background {
  background-color: #fff;
}

.hero {
  background-color: #262c35;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 150px;
  padding-bottom: 150px;
}

h1 {
  font-size: 32px;
}

.hero.sp-navbar-fixed {
  padding-bottom: 206px;
}

.wrapper-960 {
  max-width: 960px;
  margin: 0 auto;
}

.pad-top {
  margin-top: 24px;
}

.navbar-space {
  margin-top: 56px;
}

.logo {
  position: relative;
  opacity: 0.6;
  top: -18px;
  height: 180px;
  width: 180px;
}

.logo-text {
  font-size: 48px;
  color: #fcf3d6;
  opacity: 0;
}

.smaller {
  font-size: 28px;
}

.logo-text strong {
  color: #f9ab00;
}

.navbar.top-navbar {
  background-color: #304054;
  border-bottom: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar.top-navbar .col-md-12 {
  white-space-collapse: discard;
  height: 56px;
}

.navbar.top-navbar .navbar-nav>li>a {
  padding: 18px 15px;
  color: #ddd;
  float: left;
  cursor: pointer;
}

.navbar.top-navbar a:hover {
  background-color: #344c67 !important;
}

.navbar.top-navbar li.active a {
  background-color: #2c3d4b !important;
}

.navbar.top-navbar li.active a:hover {
  background-color: #344c67 !important;
}

.navbar.top-navbar a:visited {
  color: #ddd;
}

.navbar.top-navbar .nav-btn {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.navbar.top-navbar a.logout-a {
  padding: 0 !important;
}

.navbar.top-navbar .logout-btn {
  padding: 18px 15px;
}

.mini-logo {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar.top-navbar .notify {
  color: #fbc400 !important;
}

.top-alert {
    margin-bottom: 0;
}

a {

  outline: none;
}

a:focus, a:active {
  outline: none;
}

a:visited {

}

a.no-underline:hover {
  text-decoration: none;
}

.project-header {
  margin-top: 24px;
  margin-bottom: 16px;
}

.user-box {
  text-align: center;
}

.user-box h1 {
  margin-top: 0;
}

.user-projects-header {
  margin-top: 21px;
}

.well {
  border: 2px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  background: none;
}

.project-listing {
  font-size: 1.2em;
}

.project-toolbar {
  margin-top: 28px;
}

.project-subheader {
  margin-top: 10px;
  margin-bottom: 24px;
}

.home-userbox {
  margin-top: 3px;
}

.fa-sm {
  font-size: 70%;
}

.avatar {
  width: 100%;
  height: auto;
}

.project-list-group-item {
  padding: 0;
}
.project-listing {
  display: block;
  padding: 10px 15px;
}
.project-listing-name {
  font-weight: bold;
}
.project-listing:hover {
  text-decoration: none;
}
.project-listing-tagline {
  display: block;
  color: #555;
}

.version-list-group-item {
  padding: 0;
}
.version-listing {
  display: block;
  padding: 10px 15px;
}
.version-listing-name {
  font-weight: bold;
}
.version-listing:hover {
  text-decoration: none;
}
.version-listing-tagline {
  display: block;
  color: #555;
}

.file-list-group-item {
  padding: 0;
}
.file-listing {
  display: block;
  padding: 10px 15px;
}
.file-listing-name {
  font-weight: bold;
}
.file-listing:hover {
  text-decoration: none;
}
.file-listing-tagline, .file-listing-size {
  display: block;
  color: #555;
}
.file-listing-size {
  float: right;
}

#file-uploader {
  opacity: 0.0000001;
}

.project-content {
  margin-top: 30px;
}

.attach-bottom {
  border-radius: 4px 4px 0 0;
}

.light-background {
  background: #eee;
  padding-top: 20px;
}

.project-navbar {
  border: none;
  border-radius: 0;
  background: none;
  margin: 0;
  border-bottom: 2px solid #ddd;
}

.project-navbar li {
  position: relative;
  bottom: -2px;
}

.project-navbar li > a {
  border-bottom: 2px solid transparent;
}

.project-navbar li > a:hover {
  border-bottom: 2px solid #ccc;
}

.project-description-form {
  margin: 20px 0;
}

.spacey-heading {
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  top: 1px;
}

.btn-panel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-panel {
  margin-top: 20px;
}

.list-group-item.down {
  background-color: #e5e5e5;
}

.requiredField .asteriskField {
  display: none;
}
