@import "colors";
@import "typography";

body {
  font-family: $font-stack;
  margin: 0;
  background-color: $lighter_grey;
  height: auto;
  color: #000;
}

.white-background {
  background-color: $white;
}

.hero {
  background-color: $white;
  text-align: center;
  font-family: $font-stack;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 5px solid $faded_orange;

  .logo-text {
    font-size: 48px;
  }

}

h1 {
  font-size: 32px;
}

.navbar-space {
  margin-top: 56px;
}

.navbar-pad {
  padding-top: 15px;
}

.logo {
  position: relative;
  opacity: 0.6;
  top: -18px;
  height: 180px;
  width: 180px;
}

.smaller {
  font-size: 28px;
}

.top-alert {
  margin-bottom: 0;
}

.alert-list > .alert {
  margin: 15px 0;
}

a {
  outline: none;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
  &:visited {
  }
  &.no-underline:hover {
    text-decoration: none;
  }
}

.project-header {
  margin-top: 24px;
  margin-bottom: 16px;
}

.user-box {
  text-align: center;
  h1 {
    margin-top: 0;
  }

  >.well {
    > img {
      padding-bottom: 7px;
    }
    > h1, > div {
      padding: 0 10px;
    }
    padding: 0;
    border-radius: 4px;
    background: white;
  }
}

.user-projects-header {
  margin-top: 21px;
}

.well {
  border: 2px solid $color_alto_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  background: none;
}

.project-toolbar {
  margin-top: 28px;
}

.project-subheader {
  margin-top: 10px;
  margin-bottom: 24px;
}

.home-userbox {
  margin-top: 3px;
}

.avatar {
  width: 100%;
  height: auto;
}

.project-list-group {

  .project-list-group-item {
    padding: 0;

    .project-listing {
      font-size: 1.2em;
      display: block;
      padding: 10px 15px;
      &:hover {
        text-decoration: none;
      }

      .project-listing-name {
        font-weight: bold;
      }

      .project-listing-tagline {
        display: block;
        color: $darker_grey;
        text-overflow: ellipsis;
        overflow: hidden;
      }

    }

  }

}

.version-list-group {

  .version-list-group-item {
    padding: 0;

    .version-listing {
      display: block;
      padding: 10px 15px;

      &:hover {
        text-decoration: none;
      }

      .version-listing-name {
        font-weight: bold;
      }

      .version-listing-tagline {
        display: block;
        color: $darker_grey;
      }

    }

  }

}


.file-list-group {

  .file-list-group-item {
    padding: 0;

    .file-listing {
      display: block;
      padding: 10px 15px;

      &:hover {
        text-decoration: none;
      }

      .file-listing-name {
        font-weight: bold;
      }

      .file-listing-tagline {
        display: block;
        color: $darker_grey;
      }

      .file-listing-size {
        display: block;
        color: $darker_grey;
        float: right;
      }

    }

  }

}

#file-uploader {
  opacity: 0.0000001;
}

.project-content {
  margin-top: 30px;
}

.attach-bottom {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 4px 4px 0 0;
}

.light-background {
  background: $lighter_grey;
  padding-top: 20px;
}

.project-navbar {
  border: none;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0;
  background: none;
  margin: 0;
  border-bottom: 2px solid $color_alto_approx;
  > .navbar-inner li {
    position: relative;
    bottom: -2px;
    > a {
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $color_celeste_approx;
      }
    }
    &.active {
      > a, > a:hover {
        color: $navbar_link_active_background;
        background-color: transparent;
        border-bottom: 2px solid $navbar_link_active_background;
      }
    }
  }
}

.project-description {
  word-wrap: break-word;
}

.project-description-form {
  margin: 20px 0;
}

.spacey-heading {
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 6px;
  display: inline-block;
  position: relative;
  top: 1px;
}

.btn-panel {
  margin-bottom: 20px;
}

.navbar.top-navbar {
  background-color: $navbar_background;
  border-bottom: none;
  //Instead of the line below you could use @include user-select($select)
  user-select: none;

  .navbar-search {
    padding-top: 3px;
    .form-control {
      width: 400px;
    }
  }

  .logo-container {
    height: 56px;

    .mini-logo {
      height: 36px;
      float: left;
      margin-right: 15px;
      position: relative;
      top: -10px;
    }
  }



  .col-md-12 {
    white-space-collapse: discard;
    height: 56px;
  }

  a {
    &:hover {
      background-color: $navbar_link_hover_background !important;
    }
    &:visited {
      color: $color_alto_approx;
    }
    &.logout-a {
      padding: 0 !important;
    }
  }

  a.usr-avatar {
    padding-top: 16px !important;
    padding-bottom: 16px !important;

    img {
      height: 24px;
      width: 24px;
      border-radius: 4px;
    }
  }

  .open a.dropdown-toggle {
    background-color: $navbar_link_hover_background;
  }

  .dropdown-menu {
    a {
      color: #333;
      &:hover {
        background-color: #f5f5f5 !important;
        color: #262626;
      }
      &:visited {
        color: #333;
      }
    }
    .user-info {
      padding: 3px 20px;
      display: block;
    }
  }

  .nav-btn {
    background: none;
    border: none;
    padding: 0;
    outline: none;
  }
  .logout-link {
    padding: 3px 20px;
    width: 100%;
    text-align: left;
  }
  .notify {
    color: $faded_orange !important;
  }
  .navbar-nav > li > a {
    padding: 18px 15px;
    color: $color_alto_approx;
    float: left;
    cursor: pointer;
  }
  li.active a {
    background-color: $navbar_link_active_background !important;
    &:hover {
      background-color: $navbar_link_hover_background !important;
    }
  }
}

.list-group-item.down {
  background-color: $light_grey;
}

.requiredField .asteriskField {
  display: none;
}

.not-in-flow {
  position: relative;
}
.not-in-flow-child {
  position: absolute;
  left: 0;
  right: 0;
}

.center-card {
  background-color: white;
  padding: 1px 10px 20px 10px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;

  .page-edit {
    margin-top: 18px;
  }
}

.nav-indent {
  margin-left: 5px;
}

.pull-right > .fa {
  display: inline-block;
  width: 1em;
  text-align: left;
}


.breadcrumb > li + li:before {
  display: none;
}

.breadcrumb > li {
  padding-left: 5px;
}

.breadcrumb {
  margin-top: 10px;
}
