{% extends "layout.html" %}
{% load staticfiles %}
{% block title %}
  Ore
{% endblock %}

{% block all %}
    <header class="hero">
        <img src="{% static "img/sponge-logo.png" %}" alt="Sponge logo" class="logo">
        <div class="logo-text">
            Sponge <strong>Powered</strong>
            <div class="smaller">
                The future of Minecraft modding
            </div>
        </div>
    </header>

    {% include "navbar.html" %}
    {% block navbarfixed %}{% endblock %}

{% endblock %}
{% block scripts %}
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/home.js" %}"></script>
{% endblock %}
