{% extends "projects/_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Delete A Channel
{% endblock %}
{% block page %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Delete Channel: {{ channel.name }}</h3>
    </div>
    <div class="panel-body">

        <p>You are about to delete the channel <em>{{ channel.name }}</em>{% if channel.version_set.count %} and <strong>{{ channel.version_set.count }}</strong> version{% if channel.version_set.count > 1 %}s{% endif %}{% endif %}.</p>

        <p>Are you absolutely sure?</p>

        {% crispy form %}
    </div>
</div>
{% endblock %}
