{% extends "projects/_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Manage channels | {{ proj.full_name }}
{% endblock %}
{% block page %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current channels</h3>
    </div>
    <div class="panel-body">
        <p>Channels are used for showing what sort of shape the software you're releasing is in.</p>
        <table class="table table-striped">
            <tr>
                <td>Name</td>
                <td>Versions</td>
                <td>Actions</td>
            </tr>
            {% for channel in proj.channel_set.all %}
                <tr>
                    <td><i class="dot" style="background-color: #{{ channel.hex }}"></i> {{ channel.name }}</td>
                    <td>{{ channel.version_set.count }}</td>
                    <td>
                        <a href="{% url 'channel-edit' namespace=proj.namespace.name project=proj.name channel=channel.id %}"
                           style="color:#000;"><span class="fa fa-edit" aria-hidden="true"></span></a>
                        <a href="{% url 'channel-delete' namespace=proj.namespace.name project=proj.name channel=channel.id %}"
                           style="color:#000;"><span class="fa fa-trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        {% if editing == True %}
            <h3 class="panel-title">Edit a channel</h3>
        {% else %}
            <h3 class="panel-title">Add a channel</h3>
        {% endif %}
    </div>
    <div class="panel-body">
        {% crispy form %}
    </div>
</div>
{% endblock %}