<h1 class="project-header pull-left">
    <a href="{% url 'repo-namespace' namespace=proj.namespace.name %}" class="no-underline">{{proj.namespace.name}}</a>
    /
    <strong>
        <a href="{% url 'repo-projects-detail' namespace=proj.namespace.name project=proj.name %}"
           class="no-underline">
            {{proj.name}}
        </a>
    </strong>
</h1>

<div class="project-toolbar pull-right">
    <a href="{% url 'repo-projects-flag' namespace=proj.namespace.name project=proj.name %}"
            class="btn btn-default">
        <i class="fa fa-flag"></i>
    </a>
</div>

<div class="clearfix"></div>

<p>{{proj.description}}</p>


