{% extends "layout.html" %}
{% block messages %}{% endblock %}
{% block content %}
    <div class="white-background">
        <div class="container-fluid wrapper-960">
            <div class="row">
                <div class="col-md-12">
                    {% include "_messages.html" %}
                    {% include "repo/projects/_header.html" %}
                </div>
            </div>
        </div>
        {% include "repo/projects/_navbar.html" %}
    </div>

    <div class="light-background">
        <div class="container-fluid wrapper-960 ">
            <div class="row">
                <div class="col-md-12">
                    {% block page %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
