{% load permissions %}
<div class="btn-group pull-right proj-toolbar">
    <a href="{% url "repo-projects-flag" namespace=proj.namespace.name project=proj.name %}" class="btn btn-default">
        <i class="fa fa-flag"></i>
    </a>
    {% ifpermitted user "project.edit" proj %}
        <a href="{% url "repo-projects-manage" namespace=proj.namespace.name project=proj.name %}" class="btn btn-default">
            <i class="fa fa-wrench"></i>
        </a>
    {% endifpermitted %}
    {% ifpermitted user "version.create" proj %}
        <a href="{% url "repo-versions-new" namespace=proj.namespace.name project=proj.name %}" class="btn btn-default">
            <i class="fa fa-upload"></i>
        </a>
    {% endifpermitted %}
</div>
