{% extends "layout.html" %}
{% block title %}
Explore
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>All Projects</h1>
            <ul class="list-group">
                {% for namespace, name in projects %}
                <a class="list-group-item" href="{% url 'repo-project' namespace=namespace name=name %}">
                    {{ namespace }} / {{ name }}
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
