{% extends "layout.html" %}
{% block title %}
{{ org.name }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="project-header pull-left">
                <a href="/{{org.name}}" class="no-underline">{{org.name}}</a> /
                <strong><a href="/{{org.name}}/{{proj.name}}" class="no-underline">{{proj.name}}</a></strong>
            </h1>
            <div class="btn-group pull-right proj-toolbar">
                <a href="/{{org.name}}/{{proj.name}}/flag" class="btn btn-default">
                    <i class="fa fa-flag"></i> Flag</a>
                {% if authorized %}
                <a href="/{{org.name}}/{{proj.name}}/manage" class="btn btn-default">
                    <i class="fa fa-gear"></i> Manage</a>
                {% endif %}
            </div>
            <div class="clearfix"></div>

            <p class="pull-left">{{proj.description}}</p>
        </div>
    </div>
</div>
{% endblock %}
