{% extends "layout.html" %}
{% load permissions %}
{% block title %}
{{ user.name }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 user-box">
            <div class="well">
                <img src="{{ oreuser.avatar }}&amp;s=200" class="avatar oreuser-avatar">
                <h1>{{ oreuser.name }}</h1>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Projects</h3>
                </div>
                {% include "projects/_projects_list.html" with namespace=oreuser projects=oreuser.projects.all|as_user:oreuser only %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
