{% extends "layout.html" %}
{% load permissions %}
{% block title %}
{{ oreuser.name }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 user-box hidden-xs hidden-sm">
            <div class="well">
                {% include "core/avatar.html" with avatar=oreuser.avatar aparam="&amp;s=200" type="oreuser" alt=oreuser.name only %}
                <h3>{{ oreuser.name }}</h3>
                <i class="fa fa-star"></i> {{ oreuser.starred.count }} starred
            </div>
        </div>
        <div class="col-xs-12 hide visible-xs visible-sm mini-user-box">
            <div class="mini-avatar pull-left">
                {% include "core/avatar.html" with avatar=oreuser.avatar type="oreuser" alt=oreuser.name only %}
            </div>
            <h3>{{ oreuser.name }}</h3>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Projects</h3>
                </div>
                {% include "projects/_projects_list.html" with namespace=oreuser projects=oreuser.projects.all|as_user:oreuser only %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
