$white: #fff;
$lighter_grey: #f6f6f6;
$light_grey: #e5e5e5;
$color_alto_approx: #ddd;
$color_celeste_approx: #ccc;
$darker_grey: #555;
$steel_blue: #262c35;
$orange: #f9ab00;
$navbar_background: #304054;
$navbar_link_hover_background: #344c67;
$navbar_link_active_background: #2c3d4b;
$faded_orange: #fbc400;
