@import "colors";
@import "typography";

body {
  font-family: $font-stack;
  margin: 0;
  height: auto;
  color: #000;
}

body:not(.has-js) .only-with-js {
  display: none !important;
}
body.has-js .only-without-js {
  display: none !important;
}

body.viewing-hidden {
  background: repeating-linear-gradient(
    -55deg,
    #eee,
    #eee 10px,
    #fff 10px,
    #fff 20px
  );
}

.white-background {
  background-color: $white;
}

.btn-shaded {
  background-color: #e7e7e7;
  &:hover {
    background-color: #e3e3e3;
  }
}

.hero {
  background-color: $white;
  text-align: center;
  font-family: $font-stack;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 5px solid $faded_orange;

  .logo-text {
    font-size: 48px;
  }

}

.navbar-space {
  margin-top: 56px;
}

.navbar-pad {
  padding-top: 15px;
}

.logo {
  position: relative;
  opacity: 0.6;
  top: -18px;
  height: 180px;
  width: 180px;
}

.smaller {
  font-size: 28px;
}

.top-alert {
  margin-bottom: 0;
}

.alert-list > .alert {
  margin: 15px 0;
}

a {
  outline: none;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
  &:visited {
  }
  &.no-underline:hover {
    text-decoration: none;
  }
}

.project-header {
  margin-top: 24px;
  font-size: 20px;
  margin-bottom: 24px;
  margin-right: 20px;
}

.user-box {
  text-align: center;

  h3 {
    margin-top: 0;
  }

  >.well {
    > h1, > div {
      padding: 0 10px;
    }
    padding: 0;
    border-radius: 4px;
    background: white;
  }
}

.user-projects-header {
  margin-top: 21px;
}

.well {
  border: 2px solid $color_alto_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  background: none;
}

.mini-avatar {
  width: 30px;
}
.mini-user-box {
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 0.8em;
}
.mini-user-box .mini-avatar {
  margin-top: 1.2em;
  margin-right: 0.6em;
}

.project-toolbar {
  margin-top: 22px;

  .btn-form {
    display: inline;
    float: left;

    .btn {
      border-radius: 0;
      border-right: none;
      border-left: none;
    }
  }
}

.project-subheader {
  margin-top: 10px;
  margin-bottom: 24px;
}

.home-userbox {
  margin-top: 3px;
}

// Hack to make avatars become square before we download them
// and deduce their aspect ratio
.avatar-container {
  .user-box > .well > & {
    padding: 0 0 10px 0;
  }
  
  position: relative;
  width: 100%;

  &:before {
    display: block;
    content: "";
    padding-top: 100%;
  }

  .avatar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.avatar-pull-right {
  width: 1.4em;
}


.project-list-group {

  .project-list-group-item {
    padding: 0;

    .project-listing {
      font-size: 1.2em;
      display: block;
      padding: 10px 15px;
      &:hover {
        text-decoration: none;
      }

      .project-listing-name {
        font-weight: bold;
      }

      .project-listing-tagline {
        display: block;
        color: $darker_grey;
        text-overflow: ellipsis;
        overflow: hidden;
      }

    }

  }

}

.version-list-group {

  .version-list-group-item {
    padding: 0;

    .version-listing {
      display: block;
      padding: 10px 15px;

      &:hover {
        text-decoration: none;
      }

      .version-listing-name {
        font-weight: bold;
      }

      .version-listing-tagline {
        display: block;
        color: $darker_grey;
      }

    }

  }

}


.file-list-group {

  .file-list-group-item {
    padding: 0;

    .file-listing {
      display: block;
      padding: 10px 15px;

      &:hover {
        text-decoration: none;
      }

      .file-listing-name {
        font-weight: bold;
      }

      .file-listing-tagline {
        display: block;
        color: $darker_grey;
      }

      .file-listing-size {
        display: block;
        color: $darker_grey;
        float: right;
      }

    }

  }

}

#file-uploader {
  opacity: 0.0000001;
}

.project-content {
  margin-top: 30px;
}

.project-header-container {
  border-bottom: 1px solid $color_alto_approx;
}

.attach-bottom {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 4px 4px 0 0;
}

.light-background {
  padding-top: 20px;
}

.project-navbar {
  border: none;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0;
  background: none;
  margin: 0;
  > .navbar-inner li {
    position: relative;
    bottom: -2px;
    > a {
      border-bottom: 1px solid transparent;
      padding: 23px 15px 25px 15px;
      &:hover {
        border-bottom: 1px solid $color_celeste_approx;
      }
    }
    &.active {
      > a, > a:hover {
        color: $navbar_link_active_background;
        background-color: transparent;
        border-bottom: 1px solid $navbar_link_active_background;
      }
    }
  }
}

.project-description {
  word-wrap: break-word;
}

.project-description-form {
  margin: 20px 0;
}

.spacey-heading {
  margin-top: 10px;
}

.channel {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 6px;
  padding: 4px 6px;
  display: inline-block;
  position: relative;
  top: 1px;
  font-size: 1.3rem;
  vertical-align: middle;
  margin-right: 10px;
  font-weight: bold;
  line-height: 1;

  &.channel-bg-light {
    color: #222;
  }

  &.channel-bg-dark {
    color: #fff;
  }
}


.btn-panel {
  margin-bottom: 20px;
}

.navbar.top-navbar {
  background-color: $navbar_background;
  border-bottom: none;
  //Instead of the line below you could use @include user-select($select)
  user-select: none;

  .navbar-always-nav {
    margin: 0;
    float: left;
  }

  .navbar-search {
    line-height: 36px;
    @media (min-width: 768px) {
      .form-control {
        width: 400px;
      }
    }
  }

  .logo-container {
    height: 56px;
    line-height: 26px;

    .mini-logo {
      height: 100%;
      float: left;
      margin-right: 8px;
      width: 26px; // ARbaelkrbnaelrkbnaer firefox why
    }
  }



  .col-md-12 {
    white-space-collapse: discard;
    height: 56px;
  }

  .nav > li > a, a {
    &:hover {
      background-color: $navbar_link_hover_background;
    }
    &:visited {
      color: $color_alto_approx;
    }
    &.logout-a {
      @media (min-width: 768px) {
        padding: 0 !important;
      }
    }
  }

  a.usr-avatar {
    padding-top: 16px !important;
    padding-bottom: 16px !important;

    img {
      height: 24px;
      width: 24px;
      border-radius: 4px;
    }
  }

  .open a.dropdown-toggle {
    background-color: $navbar_link_hover_background;
  }

  .dropdown-menu {
    a {
      color: #333;
      &:hover {
        background-color: #f5f5f5;
        color: #262626;
      }
      &:visited {
        color: #333;
      }
    }
    .user-info {
      padding: 3px 20px;
      display: block;
    }
  }

  .nav-btn {
    background: none;
    border: none;
    padding: 0;
    outline: none;
  }
  .logout-link {
    @media (min-width: 768px) {
      padding: 3px 20px;
    }
    width: 100%;
    text-align: left;
  }
  .notify {
    color: $faded_orange !important;
  }
  .navbar-nav > li > a {
    padding: 18px 15px;
    color: $color_alto_approx;
    cursor: pointer;
  }
  li.active a {
    background-color: $navbar_link_active_background !important;
    &:hover {
      background-color: $navbar_link_hover_background !important;
    }
  }
}

.list-group-item.down {
  background-color: $light_grey;
}

.requiredField .asteriskField {
  display: none;
}

.not-in-flow {
  position: relative;
}
.not-in-flow-child {
  position: absolute;
  left: 0;
  right: 0;
}

.center-card {
  background-color: white;
  padding: 1px 10px 20px 10px;

  .page-edit {
    margin-top: 18px;
  }
}

.nav-indent {
  margin-left: 5px;
}

.pull-right > .fa {
  display: inline-block;
  width: 1em;
  text-align: left;
}


.breadcrumb > li + li:before {
  display: none;
}

.breadcrumb > li {
  padding-left: 5px;
}

.breadcrumb {
  margin-top: 10px;
}

.namespace-fancy-select {
  display: block;
}
.namespace-option {
  display: inline-block;
  text-align: center;
  border: 1px solid #ddd;
  padding: 3px;
  border-radius: 4px;
  margin-right: 10px;
  min-width: 100px;
}
.namespace-option-selected {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.namespace-option-avatar {
  display: block;
  width: 100px;
  margin: 0 auto 7px auto;
}
.namespace-option-name {
  display: block;
}

.org-members-listing-avatar {
  display: inline-block;
  width: 20px;
  vertical-align: sub;
  margin-right: 0.2em;
}
.org-members-list-link:hover {
  text-decoration: none;
}
.org-members-list-group-item {
  padding: 0;
}
.org-members-list-link {
  font-size: 1.2em;
  display: block;
  padding: 10px 15px;
}

pre code {
  max-height: 500px;
  display: block;
}
