{% extends "projects/_page.html" %}
{% load permissions %}
{% load querysets %}
{% block title %}
{{ proj.full_name }}
{% endblock %}
{% block page_wrapper %}
<div class="container light-background">
    <div class="row">
        <div class="col-md-12">
            <div class="center-card">
                <div id='discourse-comments'></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://forums.spongepowered.org/',
                     topicId: {{ project_thread.topic_id }} };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
{% endblock %}